<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <style>

    </style>
</head>
<body>
<div>
    <div class="div_container">
        <div class="avatar">
            <img src="https://foruda.gitee.com/avatar/1752080025136627357/14919133_sidifensen_1752080025.png!avatar200" alt="头像">
        </div>
        <div class="title">
            <div>欢迎注册斯蒂芬森的博客</div>
            <div>一个开源免费的个人博客网站</div>
        </div>
        <div class="checkCode">
            您的邮件验证码为：<span th:text="${checkCode}"></span>
        </div>
        <div class="info_container">
            有效时间为5分钟。为了保障您的安全，请勿向他人泄露验证码信息。如非本人操作，请忽略此邮件。
        </div>
        <div class="button">
            <div class="goto"><a href="www.sidifensen.com">立即前往博客网站</a></div>
            <div class="gitee"><a href="https://gitee.com/sidifensen/sidifensen_blog">项目gitee主页</a></div>
            <div class="github"><a href="https://github.com/sidifensen/sidifensen_blog">项目github主页</a></div>
        </div>
    </div>
</div>
</body>
</html>
